@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

body{
  background-color: #ffffb2;
}
.title{
  font-size: 4rem;
  text-align: center;
  font-family: 'Indie Flower', cursive;
}
.main-container{
  display: flex;
  justify-content: space-around;
}
.todo-container{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 25px;
}
.todo{
  display: flex;
  justify-content: flex-end;
  align-items:center;
  border-bottom: 1px solid black;
}
.delete{
  float: right;
}
.theList{
  margin-right: 10px;  
  font-size: 30px;
  color: black ;
  font-family: 'Indie Flower', cursive;;
  font-style: italic;
  list-style: none;
  /* text-decoration-line: line-through; */
}
.color{
  background: chartreuse !important;
}
.color-todo{
  background: rgb(255, 81, 0) !important;
}
