
body{
  background-color: aqua;
}
.calender{
  display: flex;
  justify-content: center;
  margin-top: 50px;
  /* position: relative;
  top: 200px;
  left: 200px; */
}
.todo-container{
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  border: 1px solid black;
  
}