
body{
  background-color: aqua;
}
.main-container{
  display: flex;
  justify-content: space-around;
}
.todo-container{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 25px;
}
.todo{
  display: flex;
  justify-content: flex-end;
  align-items:center;
  border-bottom: 1px solid black;
}
.delete{
  float: right;
}
.theList{
  margin-right: 10px;  
  font-size: 30px;
  color: teal ;
  font-style: italic;
  list-style: none;
  /* text-decoration-line: line-through; */
}
.color{
  background: chartreuse !important;
}
.color-todo{
  background: rgb(255, 81, 0) !important;
}
